#root {
  margin: 0 auto;
  text-align: center;
}

#intro {
  background-image: url("/bg-pc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f0f0f0;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#intro h1 {
  font-size: 60px;
}
#intro h3 {
  font-size: 36px;
}

#project-section {
  min-height: 100vh;
}

#contact-section {
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  top: 0;
  width: 100%;
  position: absolute;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}
